<div class="flex">
    <div id="label" class="flex flex-col gap-2 h-[62px]  pt-[8px] pb-[0px] px-[8px]">
      <div class="w-[139px] h-[16px] font-[Poppins] font-[600] text-[16px] leading-[16px] tracking-[0.25px] text-[#0B2936] "  >Name Cognome</div>
      <div class="w-[130px] h-[20px] opacity-[60%] font-[Poppins] font-[500] text-[13px] leading-[20px] text-center text-[#0B2936] "  >Allevatore Hobista</div>
    </div>

    <div id="avatar" class="relative w-[62px] h-[62px] rounded-[100px] p-[4px]">
       <img src="../../../assets/profile-avatar.jpeg" alt="" srcset="" class="w-full h-full rounded-[100px]">

       <div id="g26998" class="absolute top-2 left-0 text-white">
        <mat-icon class="text-[#6C920C]">verified</mat-icon>
       </div>
    </div>


</div>