<div class="flex justify-center">
    <section class="w-[60%]">
        <!--breadcrumb --->
        <div class="flex gap-1 mt-4">
            <a class="font-[400] font-poppins text-sm leading-[21px]  text-[#757A2E]">Home</a>
            <mat-icon>chevron_right</mat-icon>
            <a class="font-[400] font-poppins text-sm leading-[21px]  text-[#757A2E]">Annunci</a>
            <mat-icon>chevron_right</mat-icon>
            <a class="font-[400] font-poppins text-sm leading-[21px]  text-[#757A2E]">Gallo di Marans</a>
        </div>
    
        <div class="flex gap-8 pt-[32px] pb-[80px]">
            <div class="w-1/2">
                <div class="flex flex-col gap-4">
                    <div
                        class="h-[476px] pt-[16px] pl-[16px] w-[544px] rounded-[8px] bg-cover bg-center bg-[url('assets/gallo-hem.jpeg')]">
                        <div class="bg-[#B63A2A] rounded-[100px] px-[12px] w-[69px]">
                            <span class="  font-poppins font-[600] text-[12px] leading-[18px] text-white ">Offerta</span>
                        </div>
                    </div>
    
                    <div class="flex h-[94px] gap-1">
                        <img src="../../assets/gallo-hem.jpeg" alt="" class="w-[94px] h-[94px] rounded-[6px]">
                        <img src="../../assets/marans.jpeg" alt="" class="w-[94px] h-[94px] rounded-[6px]">
                        <img src="../../assets/gallo-hem.jpeg" alt="" class="w-[94px] h-[94px] rounded-[6px]">
                        <img src="../../assets/marans.jpeg" alt="" class="w-[94px] h-[94px] rounded-[6px]">
                        <img src="../../assets/marans.jpeg" alt="" class="w-[94px] h-[94px] rounded-[6px]">
                        <img src="../../assets/gallo-hem.jpeg" alt="" class="w-[94px] h-[94px] rounded-[6px]">
                    </div>
    
                    <div class="flex mt-8 gap-4">
                        <div class="flex flex-col w-[130px] rounded-[9px] bg-[#F9F8EC] py-2 px-8">
                            <div class="flex gap-2">
                                <span>16</span>
                                <mat-icon>visibility</mat-icon>
                            </div>
    
                            <div class="font-poppins font-[400] text-[12px] leading-[18px] text-center text-[#5D6229] ">
                                Visualizzazioni</div>
                        </div>
    
                        <div class="flex flex-col w-[130px] rounded-[9px] bg-[#F9F8EC] py-2 px-8">
                            <div class="flex gap-2">
                                <span>16</span>
                                <mat-icon>favorite</mat-icon>
                            </div>
    
                            <div class="font-poppins font-[400] text-[12px] leading-[18px] text-center text-[#5D6229] ">
                                Visualizzazioni</div>
                        </div>
    
                        <div class="flex flex-col w-[130px] rounded-[9px] bg-[#F9F8EC] py-2 px-8">
                            <div class="flex gap-2">
                                <span>3</span>
                                <mat-icon>mail</mat-icon>
                            </div>
    
                            <div class="font-poppins font-[400] text-[12px] leading-[18px] text-center text-[#5D6229] ">
                                Visualizzazioni</div>
                        </div>
                    </div>
    
                    <div class="flex flex-col">
                        <div class="font-Looket font-[400] text-[30px] leading-[45px] text-[#CB4A1B]">Descrizione</div>
    
                        <div class="font-poppins font-[400] text-[16px] leading-[24px] text-black ">
                            Lorem ipsum dolor sit amet consectetur. Ullamcorper eget euismod nisi elit. Consectetur semper
                            elementum pellentesque ac nulla molestie eu nibh. Consectetur massa hendrerit volutpat nullam
                            sed. Purus pellentesque velit lectus non dictumst enim nulla. Cras amet tellus gravida ornare
                            luctus bibendum viverra lacinia. Ligula non massa vitae fringilla elementum facilisi consectetur
                            ut. Libero enim consequat lorem maecenas rhoncus praesent amet urna ac. Morbi egestas leo
                            egestas ut mi ac venenatis eu.
                            In non in mattis sed orci turpis ut.
                        </div>
    
                        <div class="flex gap-4 py-4 text-[#E7E7E7]">
                            <mat-icon class="text-[24px]">location_on</mat-icon>
                            <span class="font-poppins font-[400] text-[16px] leading-[24px] text-[#6D6D6D] ">Toscana</span>
                        </div>
                        <mat-divider> </mat-divider>
    
                        <div class="flex gap-4 py-4 text-[#E7E7E7]">
                            <mat-icon class="text-[24px]">schedule</mat-icon>
                            <span class="font-poppins font-[400] text-[16px] leading-[24px] text-[#6D6D6D] ">12 ore
                                fa</span>
                        </div>
                        <mat-divider> </mat-divider>
    
                        <div class="flex justify-between items-center">
                            <div class="flex gap-8">
                                <div class="flex gap-4">
                                    <mat-icon>cruelty_free</mat-icon>
                                    <span
                                        class="font-[600] font-poppins text-[16px] leading-[24px] text-[#262626] ">Animali</span>
                                </div>
    
                                <div class="flex gap-4 items-center">
                                    <span
                                        class="font-poppins font-[600] text-[16px] leading-[24px] text-[#262626] ">Sku:</span>
                                    <span
                                        class="font-poppins font-[400] text-[14px] leading-[21px] text-[#262626] ">ZoRfI0gSP</span>
                                </div>
    
                            </div>
    
                            <div class="flex gap-4 py-4 text-[#E7E7E7]">
                                <mat-icon class="text-[24px]">warning</mat-icon>
                                <span class="font-poppins font-[400] text-[16px] leading-[24px] text-[#6D6D6D] ">Segnala
                                    annuncio</span>
                            </div>
                        </div>
    
                        <mat-divider> </mat-divider>
    
    
                    </div>
    
                </div>
            </div>
    
    
    
            <div class="w-1/2 flex flex-col gap-4">
                <div class="flex gap-4">
                    <div class="bg-[#FCEAD8] rounded-[100px] py-[2px] px-[12px] ">
                        <span
                            class="font-poppins font-[400] text-[12px] leading-[18px] text-center text-[#742A1A] ">Vendo</span>
                    </div>
    
                    <div class="bg-[#F1F1D6] rounded-[100px] py-[2px] px-[12px] ">
                        <span class="font-poppins font-[400] text-[12px] leading-[18px] text-center text-[#4C4F25] ">Nuovo
                            annuncio</span>
                    </div>
    
                    <div class="flex gap-2 items-center">
                        <mat-icon>share</mat-icon>
                        <span class="font-poppins font-[400] text-[14px] leading-[21px] text-center text-[#6D6D6D] ">
                            Condividi</span>
                    </div>
    
    
    
                </div>
    
                <div class="font-Looket font-[400] text-[48px] leading-[67px] text-[#757A2E]">Gallo di Marans</div>
    
                <div class="flex gap-3 items-center">
                    <div class="font-looket font-[400] text-[30px] leading-[45px] text-[#CB4A1B] ">
                        € 38,00
                    </div>
    
                    <div class="font-looket text-[20px] font-[400] leading-[26.09px] text-[#5D5D5D]">€ 45,00</div>
                </div>
    
                <div class="flex gap-4">
                    <div class="flex bg-[#CB4A1B] rounded-[4px] py-[8px] px-[20px] justify-center items-center">
                        <span class="text-white font-[600] text-[16px] leading-[16px] ">Acquista ora</span>
                    </div>
    
                    <div class="flex bg-[#FCEAD8] rounded-[100px] h-[48px] w-[48px] justify-center items-center">
                        <mat-icon class="text-[#CB4A1B]">favorite</mat-icon>
                    </div>
    
                </div>
    
                <div class="flex gap-2">
                    <mat-icon class="text-[#757A2E]">info</mat-icon>
                    <span class="font-poppins font-[400] text-[16px] leading-[24px] text-[#6D6D6D]">Spedizioni</span>
                </div>
    
    
                <!---->
    
                <div class="flex flex-col gap-4 rounded-[16px] shadow-md p-6 border border-solid ">
                    <div class="flex flex-col">
                        <div class="flex justify-between items-center">
                            <div class="font-looket font-[400] text-[36px] leading-[50px] text-[#757A2E] ">Profilo</div>
                            <div class="flex p-4 rounded-[8px] gap-4 items-center justify-end">
                                <div>
                                    <div class="font-poppins font-[400] text-[16px] leading-[24px] text-[#262626]">Name
                                        Cogname</div>
                                    <div class="font-poppins font-[600] text-[16px] leading-[24px] text-[#262626]">
                                        Transportatone</div>
                                </div>
                                <div class="w-[60px] h-[60px] rounded-[100px]">
                                    <img src="../../assets/profilo.jpeg" alt="" class="w-full h-full rounded-[100px]">
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-between py-4 px-6 rounded-[8px] bg-[#FEFBEC] ">
                            <div class="font-poppins font-[600] text-[20px] leading-[30px] text-[#757A2E] ">Recensioni</div>
                            <div class="flex gap-2">
                                <mat-icon class="text-[#EDC232]" *ngFor="let item of [1,2,3,4]">eco</mat-icon>
                                <mat-icon class="text-[#E7E7E7]">eco</mat-icon>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
    
                    <div class="flex flex-col  pb-2 gap-4">
                        <div class="font-poppins font-[600] text-[20px] leading-[30px]  text-black ">Verificato
                            da:</div>
    
                        <div class="flex gap-8">
                            <div class="flex flex-col gap-2">
                                <div class="flex gap-3">
                                    <mat-icon class="text-[#9CA141]">check_circle</mat-icon>
                                    <span
                                        class="font-poppins font-[400] text-[16px] leading-[24px] text-[#262626] ">Telefono</span>
                                </div>
    
                                <div class="flex gap-3">
                                    <mat-icon class="text-[#9CA141]">check_circle</mat-icon>
                                    <span>Email</span>
                                </div>
    
                            </div>
                            <div class="flex flex-col gap-2">
                                <div class="flex gap-3">
                                    <mat-icon class="text-[#CE4634]">cancel</mat-icon>
                                    <span>Profilo completo</span>
                                </div>
    
                                <div class="flex gap-3">
                                    <mat-icon class="text-[#9CA141]">check_circle</mat-icon>
                                    <span>KYC</span>
                                </div>
    
                            </div>
                        </div>
    
                    </div>
    
                    <mat-divider></mat-divider>
    
                    <div class="flex flex-col gap-4">
                        <div class="flex rounded-[4px] py-[8px] px-[20px] text-[#CB4A1B] 
                        justify-center items-center border border-solid border-[#CB4A1B] gap-2 w-3/4 ">
                            <mat-icon>mail</mat-icon>
                            <span>Invia un messaggio</span>
                        </div>
    
                        <div class="flex rounded-[4px] py-[8px] px-[20px] text-[#CB4A1B] 
                        justify-center items-center border border-solid border-[#CB4A1B] gap-2 w-3/4 ">
                            <mat-icon>phone</mat-icon>
                            <span>Mostra numero di telefono</span>
                        </div>
    
                        <div class="font-poppins font-[600] text-[14px] leading-[21px] text-[#CB4A1B] ">
                            Visualizza il profilo completo
                        </div>
    
                    </div>
    
                </div>
    
    
            </div>
        </div>
    </section>
</div>



<div class="flex justify-center bg-[#FEFBEC]">
    <section class="w-[60%] py-[80px]">
        <div class="flex justify-between">
          <div class="font-looket font-[400] text-[36px] leading-[50px] text-[#CB4A1B]">ANNUNCI SIMILI</div>
          <div class="flex justify-center items-center  py-[8px] px-[20px] rounded-[4px] font-poppins text-[16px] leading-[16px] text-[#CB4A1B] border border-solid border-[#CB4A1B]  ">Visualizza tutti gli unnunci</div>
        </div>
    </section>
</div>