<div class="flex justify-center">
    <section class="w-[80%]">
        <!--breadcrumb --->
        <div class="flex gap-1 mt-4">
            <a class="font-[400] font-poppins text-sm leading-[21px]  text-[#757A2E]">Home</a>
            <mat-icon>chevron_right</mat-icon>
            <a class="font-[400] font-poppins text-sm leading-[21px]  text-[#757A2E]">Profili</a>
        </div>

        <div class="flex flex-col gap-4 pb-[48px]">
            <div class="text-[Looket] text-[#757A2E] font-[400] text-[36px] leading-[50px]">Scopri tutti i nostri
                profili!</div>
            <div class="text-poppins font-[400] text-[16px] leading-[24px]">
                Lorem ipsum dolor sit amet consectetur. Tellus proin at proin sapien accumsan eu. Lorem ipsum dolor sit
                amet consectetur. <span class="text-poppins font-[600] text-[16px] leading-[24px] text-[#262626]  ">A
                    malesuada</span> ac cum nec pulvinar eu. Ipsum viverra turpis a lobortis sollicitudin lorem
                turpis amet. Proin nec dui duis tortor pellentesque tortor nibh. Massa donec feugiat aliquam urna
                malesuada.
                Sit sagittis tempor in nisi. Odio varius lacus ullamcorper nunc commodo nunc auctor eu. Faucibus enim
                tincidunt vel elit laoreet egestas.
                <span class="text-poppins font-[600] text-[16px] leading-[24px] text-[#262626]">Gravida aenean odio nisi
                    sapien tristique. Est est non praesent
                    ipsum vulputate eu convallis</span> . Vivamus tristique massa quis vel sapien in in rhoncus odio. Eu
                ac quam vel
                purus.
            </div>
        </div>

    </section>
</div>



<div class="flex justify-center bg-[#EC874B] mt-10">
    <section class="w-[80%] rounded-[24px] p-[56px] bg-[#FEFBEC] ">
        <div class="text-looket font-[400] text-[36px] leading-[50px] text-center text-[#CB4A1B] ">I NOSTRI PROFILI
        </div>

        <div class="flex flex-col gap-10">
            <div class="flex rounded-[16px] p-[40px] bg-[#FAF3CB] gap-4 " *ngFor="let item of [1,2,3,5]">
                <div class="h-[163px] w-[163px] rounded-[1px] bg-[#ffffff] border-solid border-[#E7E7E7] ">
                    <img src="../../assets/chick-shell.png" class="">
                </div>
                <div class="flex flex-col">
                    <div class="text-looket font-[400] text-[30px] leading-[45px] text-[#4C4F25] ">Hobbista</div>
                    <div class="text-poppins font-[400] text-[16px] leading-[24px] text-[#262626]  ">Lorem ipsum dolor
                        sit amet consectetur. Tellus amet in sit dui. Id elit gravida habitant ut quisque. Eu ipsum ut
                        ultrices vitae enim. Pellentesque sit enim cras nunc arcu senectus sit viverra egestas. Quisque
                        dictum sed mauris pharetra lobortis massa. Platea mi ridiculus tempus pellentesque. Sed auctor
                        commodo vitae amet arcu.</div>
                </div>
            </div>

            <div class="flex gap-4 mt-8">
                <div class="relative rounded-[16px] p-[40px] bg-[#E86727] " *ngFor="let item of [1,2]">
                    <div class="flex justify-center">
                        <div class="flex absolute mx-auto -top-10 justify-center h-[80x] w-[80px]">
                            <img src="../../assets/chick-shell.png" alt="" srcset="">
                        </div>
                    </div>

                    <div class="text-looket font-[400] text-[36px] leading-[50px] text-white">Azienda</div>
                    <div class="text-poppins font-[400] text-[16px] leading-[24px] text-white ">Lorem ipsum dolor sit
                        amet consectetur. Tellus amet in sit dui. Id elit gravida habitant ut quisque. Eu ipsum ut
                        ultrices vitae enim. Pellentesque sit enim cras nunc arcu senectus sit viverra egestas. Quisque
                        dictum sed mauris pharetra lobortis massa. Platea mi ridiculus tempus pellentesque. Sed auctor
                        commodo vitae amet arcu.</div>
                </div>

            </div>
        </div>

    </section>
</div>



<div class="flex justify-center  mt-10">
    <section class="w-[80%] rounded-[24px] p-[56px] bg-[#FEFBEC] ">

        <div class="flex gap-8">
            <div class="h-[173px] w-[241px]">
                <img src="../../assets/chick-shell.png" alt="" srcset="" class="w-full h-full">
            </div>

            <div class="flex flex-col gap-4 ">
                <div class="flex flex-col gap-2">
                    <span class="text-looket text-[#CB4A1B] font-[400] text-[36px] leading-[50px]">E TU CHE PROFILO
                        HAI?</span>
                    <span class="text-looket font-[400] text-[24px] leading-[36px] ">Se ancora non ti sei iscritto,
                        fallo ora!</span>
                </div>
                <div class="text-poppins font-[400] text-[16px] leading-[24px] tracking-[0.25%] text-[#757a2e]">
                    Lorem ipsum dolor sit amet consectetur. Placerat facilisis mus sit rhoncus est. Netus quis in proin
                    convallis condimentum sed malesuada.
                </div>

                <div class="bg-[#CB4A1B] py-2 px-[20px] rounded-[4px] w-fit ">
                    <span class="text-poppins font-[600] text-[16px] leading-[16px] text-center text-white ">Iscriviti
                        subito</span>
                </div>
            </div>

            <div class="flex flex-col gap-4 items-center justify-center bg-[#F6F6F6] w-[300px] h-[250px] p-[50px]">
                <div class="text-[#6D6D6D]">
                    <div class="text-[#6D6D6D] text-poppins font-[600] text-[20px] leading-[30px] ">Placeholder ADS
                    </div>
                    <div class="text-poppins font-[400] text-[16px] leading-[24px] ">Lorem opsum</div>
                </div>

                <div class="bg-[#888888] rounded-[4px] py-[8px] px-[20px]">
                    <span
                        class="leading-[16px] text-[16px] font-[600] text-poppins text-white text-center">Button</span>
                </div>

            </div>

        </div>

    </section>
</div>


<div class="flex justify-center  mt-10 py-[80px] bg-[##FEFBEC]">
    <section class="w-[80%] rounded-[24px]  ">
        <div class="flex justify-between">
            <div class="flex gap-4">
                <div class="rounded-[8px] border-[2px] border-[#CB4A1B] py-[8px] px-[24px] ">
                    <span
                        class="text-looket font-[400] text-[24px] leading-[36px] text-center text-[#CB4A1B] ">AZIENDE</span>
                </div>

                <div class="rounded-[8px] border-[2px] border-[#EC874B] py-[8px] px-[24px] ">
                    <span
                        class="text-looket font-[400] text-[24px] leading-[36px] text-center text-[#EC874B] ">ASSOCIAZIONI</span>
                </div>

                <div class="rounded-[8px] border-[2px] border-[#EC874B] py-[8px] px-[24px] ">
                    <span
                        class="text-looket font-[400] text-[24px] leading-[36px] text-center text-[#EC874B] ">ALLEVATORI</span>
                </div>

            </div>

            <div class="rounded-[8px] border-[2px] border-[#CB4A1B] py-[8px] px-[24px] ">
                <span class="text-looket font-[400] text-[24px] leading-[36px] text-center text-[#CB4A1B] ">Visualizza
                    tutte le aziende</span>
            </div>
        </div>

        <div class="flex gap-8 mt-4">
            <!--card-->
            <div class="flex flex-col shadow-sm rounded-[16px] border-[1px] border-[#E7E7E7]
            w-[305px] h-[601px]
          " *ngFor="let item of [1,2,3,4]">
                <div class="h-[270px] w-[305px] rounded-t-[16px]">
                    <img src="../../assets/marans.jpeg" alt="" class="h-full w-full rounded-t-[16px]">
                </div>
                <div class="flex flex-col gap-3 py-[16px] px-[24px]">
                    <div class="flex items-center gap-2 text-[#146190] ">
                        <span><mat-icon>verified</mat-icon></span>
                        <span class="text-poppins font-[600] text-[12px] leading-[18px] ">Verificato</span>
                    </div>

                    <div class="flex flex-col gap-2">
                        <div class="text-poppins font-[700] text-[18px] leading-[27px] text-[#262626] ">Nome azienda </div>
                        <div class="text-poppins font-[400] text-[16px] leading-[24px] text-[#262626]  ">Lorem ipsum
                            dolor sit amet consectetur. Velit euismod...</div>
                    </div>

                    <div class="flex flex-col gap-3">

                        <div class="flex gap-2 text-[#6D6D6D]">
                            <span><mat-icon>verified</mat-icon></span>
                            <span class="text-poppins font-[400] text-[14px] leading-[21px] ">Luogo</span>
                        </div>

                        <div class="flex gap-2 text-[#6D6D6D]">
                            <span><mat-icon>verified</mat-icon></span>
                            <span class="text-poppins font-[400] text-[14px] leading-[21px] ">Settore</span>
                        </div>

                        <div class="flex gap-2 text-[#6D6D6D]">
                            <span><mat-icon>verified</mat-icon></span>
                            <span class="text-poppins font-[400] text-[14px] leading-[21px] ">Tipologia di
                                prodotto</span>
                        </div>
                    </div>

                    <div class="pt-[16px] text-[#CB4A1B]">
                        <span class="text-poppins font-[600] text-[14px] leading-[21px] ">Vai alla scheda</span>
                    </div>

                </div>

            </div>
        </div>

    </section>
</div>