<div class="flex justify-center">
    <section class="w-[80%]">
        <!--breadcrumb --->
        <div class="flex gap-1 mt-4">
            <a class="font-[400] font-poppins text-sm leading-[21px]  text-[#757A2E]">Home</a>
            <mat-icon>chevron_right</mat-icon>
            <a class="font-[400] font-poppins text-sm leading-[21px]  text-[#757A2E]">Profili</a>
        </div>

        <div class="flex flex-col gap-4 pb-[48px]">
            <div class="text-[Looket] text-[#757A2E] font-[400] text-[36px] leading-[50px]">Scopri tutti i nostri profili!</div>
            <div class="text-poppins font-[400] text-[16px] leading-[24px]" >
                Lorem ipsum dolor sit amet consectetur. Tellus proin at proin sapien accumsan eu. Lorem ipsum dolor sit
                amet consectetur. <span class="text-poppins font-[600] text-[16px] leading-[24px] text-[#262626]  ">A malesuada</span> ac cum nec pulvinar eu. Ipsum viverra turpis a lobortis sollicitudin lorem
                turpis amet. Proin nec dui duis tortor pellentesque tortor nibh. Massa donec feugiat aliquam urna
                malesuada.
                Sit sagittis tempor in nisi. Odio varius lacus ullamcorper nunc commodo nunc auctor eu. Faucibus enim
                tincidunt vel elit laoreet egestas. 
                <span class="text-poppins font-[600] text-[16px] leading-[24px] text-[#262626]">Gravida aenean odio nisi sapien tristique. Est est non praesent
                    ipsum vulputate eu convallis</span> . Vivamus tristique massa quis vel sapien in in rhoncus odio. Eu ac quam vel
                purus.</div>
        </div>

    </section>
</div>



<div class="flex justify-center bg-[#EC874B] mt-10">
    <section class="w-[80%] rounded-[24px] p-[56px] bg-[#FEFBEC] ">
        <div class="text-looket font-[400] text-[36px] leading-[50px] text-center text-[#CB4A1B] ">I NOSTRI PROFILI</div>

        <div class="flex flex-col">
            <div class="flex rounded-[16px] p-[40px] text-[#FAF3CB] gap-4 " *ngFor="let item of [1,2,3,5]">
                <div class="h-[163px] w-[163px] rounded-[1px] bg-[#ffffff] border-solid border-[#E7E7E7] ">
                    <img src="../../assets/chick-shell.png" class="" >
                </div>
                <div class="flex flex-col">
                    <div class="text-looket font-[400] text-[30px] leading-[45px] text-[#4C4F25] ">Hobbista</div>
                    <div class="text-poppins font-[400] text-[16px] leading-[24px] text-[#262626]  ">Lorem ipsum dolor sit amet consectetur. Tellus amet in sit dui. Id elit gravida habitant ut quisque. Eu ipsum ut ultrices vitae enim. Pellentesque sit enim cras nunc arcu senectus sit viverra egestas. Quisque dictum sed mauris pharetra lobortis massa. Platea mi ridiculus tempus pellentesque. Sed auctor commodo vitae amet arcu.</div>
                </div>
            </div>

            <div class="flex gap-4">
                <div class="rounded-[16px] p-[40px] bg-[#E86727]">
                    <div class="flex justify-center h-[80x] w-[80px] -mt-50 ">
                        <img src="../../assets/chick-shell.png" alt="" srcset="">
                    </div>
                 <div class="text-looket font-[400] text-[36px] leading-[50px] text-white">Azienda</div>
                 <div class="text-poppins font-[400] text-[16px] leading-[24px] text-white " >Lorem ipsum dolor sit amet consectetur. Tellus amet in sit dui. Id elit gravida habitant ut quisque. Eu ipsum ut ultrices vitae enim. Pellentesque sit enim cras nunc arcu senectus sit viverra egestas. Quisque dictum sed mauris pharetra lobortis massa. Platea mi ridiculus tempus pellentesque. Sed auctor commodo vitae amet arcu.</div>
                </div>
                <div></div>
            </div>
        </div>

    </section>
</div>